<%- include('header'); -%>
<h1><%= _.capitalize(contents.title) %></h1>
<p>
  <%= contents.body %>
</p>

<% if (userContents) { %>
  <% userContents.forEach(function(content) { %>
    <h1><%= _.capitalize(content.title) %></h1>
    <% if (content.body.length > 100) { %>
      <p>
        <%= content.body.substring(1, 100) + "..."  %>
    <%  } else { %>
      <p>
        <%= content.body %>
    <% } %>
      <a href="/posts/<%=content.id%>"> Read More</a>
    </p>
  <% }); %>
<% } %>
<%- include('footer'); -%>